# Sample and Phenotype Sheets 
# !!! Required !!!
samples: /scratch/ac32082/kGWASflow-dev/.test/config_ecoli/samples.tsv
phenotypes: /scratch/ac32082/kGWASflow-dev/.test/config_ecoli/phenos.tsv

# =================================================================================================
#     Reference Genome
# =================================================================================================

ref:
  # !!! Reference genome in Fasta format required for the alignment step !!!
  fasta: /scratch/ac32082/kGWASflow-dev/.test/data/ecoli_ref/CP026474.1.fa
  
# =================================================================================================
#     Workflow Settings
# =================================================================================================

settings:

  # ----------------------------------------------------------------------
  #     Pre-GWAS Settings
  # ----------------------------------------------------------------------
  
  single_end: false

  trimming: 
    # Set to true in order to perform addapter trimming on raw reads
    activate: false

  # ----------------------------------------------------------------------
  #     kmerGWAS Settings
  # ----------------------------------------------------------------------

  kmers_gwas:
    # TODO Convert kmers table to PLINK 
    # PLINK-conversion:
    # # Set to true in order to convert k-mers table to PLINK format (.bed)
    #   activate: false

    use_kmers_kinship:
      activate: true
    # This will be ignored if use_kmers is activated
    use_snps_kinship:
      # This will be ignored if use_kmers is activated
      activate: false
      # If activated, you need to provide a SNP table in PLINKformat (.bed).
      # PLINK .bed format: https://www.cog-genomics.org/plink/1.9/formats#bed
      ## !!! The order of the samples in SNP table has to be the same as in the samples sheet (samples.tsv file) !!!
      snps_plink: ""

  # ----------------------------------------------------------------------
  #     Post-GWAS Settings
  # ----------------------------------------------------------------------

  align_kmers:
  # Set to true in order to align k-mers
  # to the reference genome
    activate: true

  align_reads_with_kmers:
  # Set to true in order to align reads
  # with k-mers to the reference genome
    activate: true

  assemble_reads:
  # Set to true in order to assemble and
  # align reads with k-mers to the reference genome
    activate: true

  blast_contigs:
  # Set to true in order to BLAST contigs
    activate: true


# =================================================================================================
#     Resoruces
# =================================================================================================

resources:
  kmers_gwas:
    
# =================================================================================================
#     Tool Parameters
# =================================================================================================

params:

  # ----------------------------------------------------------------------
  #     FastQC Params
  # ----------------------------------------------------------------------

  fastqc:
    # Additional parameters for fastqc
    extra: ""

    # Number of threads for fastqc
    threads: 6

  # ----------------------------------------------------------------------
  #     MultiQC Params
  # ----------------------------------------------------------------------

  multiqc: ""

  # ----------------------------------------------------------------------
  #     cutadapt Params
  # ----------------------------------------------------------------------
  cutadapt:
    # Number of threads for cutadapt
    threads: 10

    # See cutadapt manual:
    # https://cutadapt.readthedocs.io/en/stable/guide.html
    # Set params for single end files
    se:
      adapters: ""
      extra: ""
    # Set params for paired end files
    # https://cutadapt.readthedocs.io/en/stable/guide.html
    pe:
      adapters: ""
      extra: "-q 15,10"
      
  # ----------------------------------------------------------------------
  #     KMC Params
  # ----------------------------------------------------------------------

  kmc:
    # Number of threads for kmc
    threads: 8
    
    # k-mer length (should be between 15-31)
    kmer_len: 31
    
    # Threshold for counted k-mers. For example if 
    # it is 2, k-mer has to appear at least 2 times to be
    # counted. This parameter depends on the coverage, but should be
    # the same for all the individuals.
    count_thresh: 2

    extra: ""

  # ----------------------------------------------------------------------
  #     kmersGWAS Params
  # ----------------------------------------------------------------------

  kmers_gwas:
    # Number of threads to use
    threads: 8

    # Minimum percent of appearance in each strand form
    min_percent_app: 0.2

    # Minor allele count (min allowed appearance of a k-mer) 
    # (Default is: 5)
    minor_allele_count: 5
    
    # Minor allele frequency 
    # (Default is: 0.05)
    minor_allele_freq: 0.05
    
    # Maximal number of variants in each PLINK bed file
    max_num_var: 10000000

    # Number of k-mers to filter from first step 
    # (Default is: 10001)
    kmers_number: 10001

    # Number of permutations to define the threshold 
    # (at least 20 recommended, Default is: 100)
    n_permutations: 100

    # Number of snps to filter from the first step 
    # (Default is: 10001)
    snps_num: 10001

    ## Min number of data points (samples) allowed 
    # (Default is: 30)
    min_data_points: 30

    extra: ""

  # ----------------------------------------------------------------------
  #     results_table Params
  # ----------------------------------------------------------------------

  results_table:
    ## Activate if you want to get summary table 
    # from the kmersGWAS results with 10 percent threshold
    use_10_per: False

  # ----------------------------------------------------------------------
  #     fetch_kmers Params
  # ----------------------------------------------------------------------

  fetch_kmers:
    # Number of threads to use
    threshold: 5

  # ----------------------------------------------------------------------
  #     fetch_reads Params
  # ----------------------------------------------------------------------
  
  fetch_reads:
    # Number of threads to use
    threads: 10

  # ----------------------------------------------------------------------
  #     bowtie2 Params
  # ----------------------------------------------------------------------

  bowtie2:
    # Number of threads to use
    threads: 8
    # Extra bowtie parameters can be given here
    extra: "--no-unal"

  # ----------------------------------------------------------------------
  #     bowtie Params
  # ----------------------------------------------------------------------
  
  bowtie:
    # Number of threads to use
    threads: 8
    # Extra bowtie parameters can be given here
    # e.g "-m 3"
    extra: "--no-unal"

  # ----------------------------------------------------------------------
  #     samtools Params
  # ----------------------------------------------------------------------
  
  samtools:
    # Number of threads to use
    threads: 8    

  # ----------------------------------------------------------------------
  #     filter_alignment Params
  # ----------------------------------------------------------------------

  filter_alignment:
    # Minimum mapping quality score
    min_map_score: 30

  # ----------------------------------------------------------------------
  #     spades Params
  # ----------------------------------------------------------------------

  spades:
    # Number of threads to use
    threads: 8
    # Extra parameters for SPADES
    extra: ""

  # ----------------------------------------------------------------------
  #     minimap2 Params
  # ----------------------------------------------------------------------

  minimap2:
    # Number of threads to use
    threads: 8

  # ----------------------------------------------------------------------
  #     BLAST Params
  # ----------------------------------------------------------------------

  blastn:
    # Number of threads to use
    threads: 8
    # BLAST output format
    format: "6 qseqid qstart qend evalue"
    # Extra parameters if needed
    extra: ""

    
