*
!workflow
!workflow/*
!workflow/*.snake
!workflow/envs
!workflow/envs/*
!workflow/rules
!workflow/rules/*
!workflow/report
!workflow/report/*
!workflow/schemas
!workflow/schemas/*
!workflow/scripts
!workflow/scripts/*
!config
# !config/*
!config/config.yaml
!config/cluster.yaml
!config/samples.tsv
!config/phenos.tsv
!.github
!.github/workflows
!.github/workflows/*
!.gitignore
!.gitattributes
!README.md
workflow/*.err
workflow/*.out
workflow/report.html
workflow/*.sh
!environment.yaml
!.test
!.test/config_ecoli
!.test/config_ecoli/*
!.test/data
!.test/data/ecoli_phenos
!.test/data/ecoli_phenos/*
!.test/data/ecoli_ref
!.test/data/ecoli_ref/CP026474.1.fa