name: CI
# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  Linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Lint workflow
      uses: snakemake/snakemake-github-action@v1.19.0
      with:
        directory: .
        snakefile: workflow/Snakefile
        args: "--lint"
        stagein: |
          export TMPDIR=/tmp
          
  Testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodules
        uses: textbook/git-checkout-submodule-action@2.0.0
      - name: Test workflow
        uses: snakemake/snakemake-github-action@v1.19.0
        with:
          directory: .
          snakefile: workflow/Snakefile
          args: "--use-conda --cores 1 --configfile .test/config.yaml"
